@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Inter', sans-serif;

    --text-color: #ffffff;
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --bg-url: url(./assets/bg-mobile.jpg);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
    --text-color: #000000;
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --switch-bg-url: url(./assets/sun.svg);
}

body {
    height: 100vh;
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--text-color);
    background: var(--bg-url) center/cover no-repeat fixed;
}

.container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0;
    padding: 0 24px;
}

.profile {
    padding: 24px;
    text-align: center;
}

.profile img{
    width: 112px;
}

.profile span {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

.switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

.switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
    animation: slide-out .3s;
}

.switch button:hover {
    outline: 3px solid var(--highlight-color);
}

.light .switch button {
    animation: slide-in .3s forwards;
}

.switch span {
    display: block;
    width: 64px;
    height: 24px;
    background-color: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

.links ul {
    list-style: none;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.links ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s ease-in-out;
    color: var(--text-color);
}

.links ul li a:hover {
    border: 1.5px solid var(--text-color);
    background: var(--surface-color-hover);
}

.social-links {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 24px 0;
    gap: 5px;
}

.social-links a {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background-color 0.2s ease;
    border-radius: 50%;
}

.social-links a:hover {
    background-color: var(--highlight-color);
}


footer {
    color: var(--text-color);
    text-align: center;
    font-size: 14px;
    padding: 24px 0;
}

footer a {
    text-decoration: underline;
    color: var(--text-color);
}

/* media queries */
@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }
    
    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}

/* animations */
@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-out {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}
